@media(max-width:1200px) {
    .nav {
        width: 100%;
        background-image: url(./assets/teste3.png);
        background-position: center;
        background-size: cover;
        text-align: center;
        align-items: center;

    }

    .it {
        width: 80%;
        padding-bottom: 80px;
    }

    .pro {
        width: 100px;
    }

    .container {
        padding: 0;
        margin: 0;
    }

    .wrap {
        width: 10%;
        height: 100px;
    }

    .information {
        width: 100%;
        text-align: center;
    }

    .btn img {

        min-width: 200px;
        min-height: 60px;
        margin: 20px;
    }

    footer {
        width: 100%;
        margin: 0;
    }

    .image {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    

    ul {
       padding-right: 20px;
       height: 100vh;
    }

}