@media(max-width:900px){
    .nav{
       width: 100%;
        background-image: url(./assets/teste3.png);
        background-position: center;
        background-size: cover;
       
    }
    .it{
        width: 50%;
   
    }

   .pro{
      width: 100px;
      
    }
    .container{
        padding: 0;
    }
    .wrap{
        width: 20%;
        height: 300px;
    }
    .information{
        padding-top: 200px;
     
    }
    .btn{
        height: 90px;
        
    }
    footer p{
        padding: 20px;
    }
   
   
}